body {
  margin: 0;
}

.splash {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.title,
.body,
.link {
  color: #222;
  font-family: Archivo Narrow;
}

.body {
  margin: 0;
}

.image {
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 690px;
  width: 100%;
}